<nz-layout class="app-layout">
  <nz-header>
    <div class="logo">
      <a>
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <h1>NG-ZORRO</h1>
      </a>
    </div>
    <ul nz-menu class="top-nav" nzTheme="dark" nzMode="horizontal">
      <li nz-menu-item class="ant-menu-item-selected" >Home</li>
      <li nz-menu-item>Account</li>
      <li nz-menu-item>Profile</li>
    </ul>
  </nz-header>
  <nz-content>
    <div class="inner-content">
      <div nz-row nzGutter="10">
        <div nz-col nzSpan="18">
          <nz-card class="card" *ngFor="let i of [0,0]"  [nzLoading]="true"></nz-card>
        </div>
        <div nz-col nzSpan="6" >
          <nz-card class="card" nzTitle="Widget">
            Builtin Widget
          </nz-card>
          <nz-card class="card" nzTitle="Widget">
            Builtin Widget
          </nz-card>
          <ng-container *ngFor="let plugin of plugins">
            <ng-container *ngComponentOutlet="plugin.component;
                                              ngModuleFactory: plugin.moduleFactory
                                              injector: plugin.injector">
            </ng-container>
          </ng-container>
          <nz-card class="card add-plugin"
                   *ngIf="plugins.length === 0"
                   (click)="loadModule('plugin-a')">
            <i nz-icon nzType="plus" nzTheme="outline"></i>
          </nz-card>
        </div>
      </div>
    </div>
  </nz-content>
</nz-layout>
